@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/big-hero.css";
@import "./components/button.css";
@import "./components/faq.css";
@import "./components/footer.css";
@import "./components/form.css";
@import "./components/header.css";
@import "./components/testimonies.css";
@import "./components/why-snubes.css";
@import "./components/quick-intro.css";
@import "./layout/layout.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-100 text-snubes-dark-gray;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}